<app-glass-panel [interactive]="false">
  <div glassTitle>Dashboard</div>
  <div glassActions>
    <!-- icon buttons here -->
  </div>

  <div>Panel content...</div>
</app-glass-panel>

<app-glass-card tone="default" density="default">
  <div glassTitle>Members</div>
  <div glassActions>
    <!-- icon button slot -->
  </div>

  <div>Card content...</div>
</app-glass-card>

<!-- <p
  class="sticky top-0 h-16 shadow z-50 bg-white/30 text-white text-center p-4 mb-3 backdrop-blur-md"
>
  navbar works!
</p> -->
