<div id="navbar">

      <header class="sidebar-header">
      <div class="brand">
        <div class="brand-left">
          <div class="brand-logo">BM</div>
          <div class="brand-name">Bachelor<br />Manager</div>
        </div>
      </div>
    </header>


  <h2 style=" text-align: center;"><b>Navbar</b></h2>
</div>







<!--
<app-glass-panel [interactive]="false">
  <div glassTitle>Navbar</div>
  <div glassActions>
    <!-- icon buttons here 
  </div>

  <div>Panel content...</div>
</app-glass-panel>
-->

<!--
<app-glass-panel tone="default" density="default">
  <div glassTitle>Members</div>
  <div glassActions>
    <!-- icon button slot --
    <button>btn 1</button>
    <button>btn 2</button>
    <button>btn 3</button>
  </div>

  <div>Panel content...</div>
</app-glass-panel>
-->
<!-- <p
  class="sticky top-0 h-16 shadow z-50 bg-white/30 text-white text-center p-4 mb-3 backdrop-blur-md"
>
  navbar works!
</p> -->
